body {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    color: gray;
}

#logo {
    margin: 0;
    width: 100px;
}

#logoLink {
    margin: 0;
    padding: 0;
}

.boton {
    background-color: coral;
}

.tabla td {
    background-color: transparent;
    border-bottom: white 1px solid;
}

.tabla {
    table-layout: fixed;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
}

a {
    color: rgb(95, 95, 95);
    ;
}

a:hover {
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.select-mayusculas option {
    text-transform: capitalize;
}

.mayuscula {
    text-transform: capitalize;
}

section {
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 60px;
}

#encabezado {
    position: fixed;
}

#homeServicio {
    height: 400px;
    overflow: scroll;
}

#nosotros {
    width: 100%;
    height: 500px;
    background: url("../img/BELLEZAcapello-01.jpg") center center no-repeat;
}

#nosotros h1 {
    text-align: center;
}

section h2, p {
    text-align: center;
}

#redes {
    display: block;
    max-width: 85%;
    margin: 5px auto;
    text-align: center;
}

#redes #tlf {
    text-align: center;
}

#info {
    width: 1000px;
    padding-top: 15px;
    margin: auto;
    justify-content: space-between;

}

#horario {
    width: 190px;
    float: left;
    margin-right: 10%;
}


#horario dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#carrusel {
    float: left;
    background: url("../img/BELLEZAcapello-01.jpg") center center no-repeat;
    width: 50%;
    min-height: 220px;
    border: solid 1px lightgray;
}

#cita {
    text-align: center;
    width: 20%;
    height: 200px;
    float: right;
    border: solid 1px grey;
    display: flex;
}

#cita h2 {
    text-align: center;
    display: flex;
}

.social {
    border-radius: 9px;
}

/* los arreglos de la galeria, deberian salir las imagenes al mismo tamaño y en varias columnas*/

#fotoGaleria {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 70%;
}

#videoLearn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 70%;
}

.galeria {
    display: flex;
    padding: 5px;
}

.galeria img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.left-align {
    text-align: left;
}

footer {
    left: 0px;
    width: 100%;
    min-height: 200px;
}

hr {
    background-color: black;
}