body{
    background-color: lightgray;
}

#logo {
    margin: 0;
    width: 100px;
}

#logoLink {
    margin: 0;
    padding: 0;
}

.boton {
    background-color: coral;
}

.tabla td {
    background-color: transparent;
    border-bottom: crimson 1px solid;
}

footer{
    width: 100%;
    position: absolute;
    text-align: center;
}

a {
    color: darkblue;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.select-mayusculas option {
    text-transform: capitalize;
}

.mayuscula {
    text-transform: capitalize;
}